@use "../../abstracts/" as *;

.c-collapsed {
  --clr-summary-back: var(--clr-white);
  --clr-summary-border: var(--clr-gray-3);
  --clr-summary-arrow: var(--clr-gray-4);
  --size-summary-border-radius: #{$size-border-radius};
  --clr-accordeon-text: var(--clr-black);

  &__details {
    background-color: var(--clr-summary-back);
    border: 1px solid var(--clr-summary-border);
    border-radius: var(--size-summary-border-radius, 8px);
    padding: 0 torem(32);
    color: var(--clr-accordeon-text);

    &[open] {
      padding-bottom: torem(24);

      & .c-collapsed__summary::after {
        transform: rotate(180deg);
      }
    }

    &[open] summary~* {
      animation: sweep .3s ease-in-out;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @keyframes sweep {
    0% {
      opacity: 0;
      margin-left: -10px
    }

    100% {
      opacity: 1;
      margin-left: 0px
    }
  }

  &__summary {
    position: relative;
    padding: torem(24) torem(32);
    margin-left: torem(-32);
    margin-right: torem(-32);
    user-select: none;
    list-style: none;
    cursor: pointer;
    color: var(--clr-accordeon-text);

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    &__summary-arrow {
      width: torem(18);
      height: torem(10);
    }

    // Using svg image as mask
    // with background-color
    &::after {
      width: torem(18);
      height: torem(10);
      display: inline-block;
      content: "";
      position: absolute;
      top: calc(50% - torem(5));
      right: torem(32);
      mask: url(../img/svg/icons/arrow-down.svg) no-repeat 50% 50%;
      mask-size: cover;
      background-color: var(--clr-summary-arrow);
    }
  }

  &__secret {
    line-height: lh(24, 16);
  }
}