<div class="c-accordeon">
  <section class="c-collapsed">
    <details class="c-collapsed__details" open>
      <summary class="c-collapsed__summary">Открыто</summary>
      <div class="c-collapsed__secret">
        <p>
          Содержание
        </p>
      </div>
    </details>
  </section>
  <section class="c-collapsed">
    <details class="c-collapsed__details">
      <summary class="c-collapsed__summary">Закрыто</summary>
      <div class="c-collapsed__secret">
        <p>
          Содержание
        </p>
      </div>
    </details>
  </section>
</div>
