<div class="h-row h-flex h-flex-wrap h-align-center h-gap10 h-mb30">
  <button type="button" class="c-btn c-btn--primary c-btn--full-width">Основная</button
  ><button type="button" class="c-btn c-btn--secondary c-btn--full-width">Дополнительная</button
  ><button type="button" class="c-btn c-btn--alt c-btn--full-width">Альтернативная</button>
</div>
<div class="h-row l-preview--buttons-row-2">
  <button type="button" class="c-btn c-btn--primary" disabled>Осн</button
  ><button type="button" class="c-btn c-btn--secondary" disabled>
    Доп</button
  ><button type="button" class="c-btn c-btn--alt" disabled>
    Альт
  </button>
</div>
