<div id="modal-preview" class="c-modal c-modal--preview">
  <div class="c-modal__back c-modal__back--preview"></div>
  <div class="c-modal__window">
    <div id="modal-close" class="c-modal__close">
      <svg class="icon--close-cross">
        <use xlink:href="{{root}}img/svg/sprite.svg#close-cross"></use>
      </svg>
    </div>
    <div class="c-modal__body">
      <div class="c-input-field">
        <div class="c-input c-input--preview">
          <label class="c-input__label" for="text-1">
            <div class="c-input__title">Имя</div>
            <div class="c-input__input-wrapper">
              <input
                class="c-input__input"
                id="text-1"
                type="text"
                placeholder="Имя Фамилия"
              />
            </div>
          </label>
        </div>
      </div>
      <div class="c-input-field">
        <div class="c-input c-input--preview">
          <label class="c-input__label" for="text-1">
            <div class="c-input__title">Email</div>
            <div class="c-input__input-wrapper">
              <input
                class="c-input__input"
                id="text-1"
                type="text"
                placeholder="example@mail.ru"
              />
            </div>
          </label>
        </div>
      </div>
      <button type="button" class="c-btn c-btn--primary c-btn--small">
        Отправить
      </button>
    </div>
  </div>
</div>
