@use "../../abstracts/" as *;

.c-input {
  --clr-input-border: var(--clr-gray-2);
  --clr-input-placeholder: var(--clr-gray-2);
  --clr-input-invalid: #F03D3E;
  --clr-input-icon-valid: #374FC7;

  &__title {
    font-weight: 500;
    font-size: torem(12);
    line-height: lh(18, 12);
    text-transform: uppercase;
    margin-bottom: torem(5);
    color: var(--clr-gray-3);
  }

  &__input::placeholder {
    color: var(--clr-input-placeholder);
  }

  &__input {
    all: unset;
    display: initial;
    width: 100%;

    font-weight: 400;
    font-size: torem(20);
    line-height: lh(26, 20);
  }

  &__input-wrapper {
    padding: torem(17) 0 torem(13) torem(24);
    border: 1px solid var(--clr-input-border);
    border-radius: 8px;
    transition: border 100ms ease-in-out;
  }

  &__input-wrapper:has(>.c-input__input:disabled) {
    background-color: var(--clr-gray-1);
    cursor:no-drop;
  }

  &__input-wrapper:has(>.c-input__input:focus) {
    border: 1px solid var(--clr-primary-1);
  }

  &__input-wrapper:has(>.c-input__input.c-input__invalid) {
    border: 1px solid var(--clr-input-invalid);
  }

  &__input-wrapper:has(>.c-input__icon) {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: torem(18);
    right: torem(18);
    opacity: 0;

    &--valid {
      stroke: var(--clr-input-icon-valid);
    }
    &--invalid {
      stroke: var(--clr-input-invalid);
    }
  }

  .c-input__icon.c-input__icon--valid,
  .c-input__icon.c-input__icon--invalid {
    opacity: 1;
  }

}