@use "../../abstracts/" as *;

.c-checkbox {
  --clr-checkbox-checked-back: var(--clr-primary-1);
  --clr-checkbox-checked-border: var(--clr-primary-1);
  --clr-checkbox-input-border: var(--clr-gray-2);
  --clr-checkbox-disabled: var(--clr-gray-2);
  --clr-checkbox-disabled-title: var(--clr-gray-2);

  cursor: pointer;

  &__icon {
    color: var(--clr-white);
    display: none;
    fill: none;
  }

  &__input {
    position: absolute;
    left: -100vw;
    opacity: 0;
  }

  &__state {
    display: flex;
    align-items: center;
    margin: torem(16) torem(21);
  }

  &__title {
    font-weight: 400;
    font-size: torem(16);
    line-height: lh(24, 16);
    color: var(--clr-font);
  }

  &__control {
    width: torem(28);
    height: torem(28);
    border-radius: 4px;
    border: 1px solid var(--clr-checkbox-input-border);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: torem(12);
  }

  @keyframes borderGrow {
    from {
      outline: torem(0) solid rgba(var(--clr-checkbox-animation),.3);
    }

    to {
      outline: torem(30) solid rgba(var(--clr-checkbox-animation),0);
    }
  }

  &__input:checked~&__state &__control {
    background-color: var(--clr-checkbox-checked-back);
    border: 1px solid var(--clr-checkbox-checked-border);
  }

  &__input:focus:checked~&__state &__control {
    animation: borderGrow 300ms ease-out;
  }

  &__input:checked~&__state &__control &__icon {
    display: inline-block;
  }

  &__input:focus~&__state &__title {
    text-decoration: underline;
  }

  &__input:disabled~&__state &__control {
    background-color: var(--clr-checkbox-disabled);
  }

  &__input:disabled~&__state &__title {
    color: var(--clr-checkbox-disabled-title);
  }

  &__input:disabled~&__state &__control &__icon {
    display: none;
  }
}