@use "../../abstracts/" as *;

.c-checkbox {
  cursor: pointer;

  &__icon {
    stroke: var(--clr-white);
    display: none;
    fill: none;
    display: none;
  }

  &__input {
    position: absolute;
    left: -100vw;
    opacity: 0;
  }

  &__state {
    display: flex;
    align-items: center;
    margin: torem(16) torem(21);
  }

  &__title {
    font-weight: 400;
    font-size: torem(16);
    line-height: lh(24, 16);
    color: var(--clr-black);
  }

  &__control {
    width: torem(28);
    height: torem(28);
    border-radius: 4px;
    border: 1px solid var(--clr-gray-2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: torem(12);
  }

  @keyframes checkAndOut {
    from {
      outline: torem(0) solid rgba(0,0,0,.3);
    }

    to {
      outline: torem(30) solid rgba(0,0,0,0);
    }
  }

  &__input:checked~&__state &__control {
    background-color: var(--clr-primary-1);
    animation-name: checkAndOut;
    animation-duration: 300ms;
  }

  &__input:checked~&__state &__control &__icon {
    display: inline-block;
  }

  &__input:focus~&__state &__title {
    text-decoration: underline;
  }

  &__input:disabled~&__state &__control {
    background-color: var(--clr-gray-2);
  }

  &__input:disabled~&__state &__control &__icon {
    display: none;
  }
}