<section class="h-mb30">
  <div class="c-accordeon">
    <section class="c-collapsed">
      <details class="c-collapsed__details">
        <summary class="c-collapsed__summary">
          Один
        </summary>
        <div class="c-collapsed__secret">
          <p>
            Далеко-далеко за словесными горами в стране гласных и согласных живут
            рыбные тексты. Строчка языкового назад запятых! Силуэт великий
            повстречался назад осталось подпоясал?
          </p>
        </div>
      </details>
    </section>
    <section class="c-collapsed">
      <details class="c-collapsed__details">
        <summary class="c-collapsed__summary">Два</summary>
        <div class="c-collapsed__secret">
          <p>
            Далеко-далеко за словесными горами в стране гласных и согласных живут
            рыбные тексты. Всемогущая текста, парадигматическая одна даже большого
            снова рекламных прямо лучше!
          </p>
        </div>
      </details>
    </section>
    <section class="c-collapsed">
      <details class="c-collapsed__details">
        <summary class="c-collapsed__summary">Три</summary>
        <div class="c-collapsed__secret">
          <p>
            Бросил снова взобравшись рыбного за меня но лучше она продолжил ручеек
            заглавных необходимыми семь агентство имени, последний одна переулка
            коварный?
          </p>
        </div>
      </details>
    </section>
  </div>
</section>
