<section class="l-buttons h-mb30">
  <div class="h-row h-flex h-flex-wrap h-align-center h-gap20 h-mb30">
    <button type="button" class="c-btn c-btn--primary">Основная</button
    ><button type="button" class="c-btn c-btn--secondary">Дополнительная</button
    ><button type="button" class="c-btn c-btn--alt">Альтернативная</button>
  </div>
  <div class="h-row h-flex h-flex-wrap h-align-center h-gap20 h-mb30">
    <button type="button" class="c-btn c-btn--primary" disabled>Основная</button
    ><button type="button" class="c-btn c-btn--secondary" disabled>
      Дополнительная</button
    ><button type="button" class="c-btn c-btn--alt" disabled>
      Альтернативная
    </button>
  </div>
</section>
