<div class="c-calendar">
  <div class="c-calendar__title">Февраль 2024</div>
  <div class="c-calendar__wrapper">
    <div class="c-calendar__inner">
      <span class="c-calendar__item c-calendar__item-day">Пн</span>
      <span class="c-calendar__item c-calendar__item-day">Вт</span>
      <span class="c-calendar__item c-calendar__item-day">Ср</span>
      <span class="c-calendar__item c-calendar__item-day">Чт</span>
      <span class="c-calendar__item c-calendar__item-day">Пт</span>
      <span class="c-calendar__item c-calendar__item-day">Сб</span>
      <span class="c-calendar__item c-calendar__item-day">Вс</span>
      <span class="c-calendar__item"></span>
      <span class="c-calendar__item"></span>
      <span class="c-calendar__item"></span>
      <span class="c-calendar__item"></span>
      <span class="c-calendar__item"></span>
      <span class="c-calendar__item">1</span
      ><span class="c-calendar__item">2</span
      ><span class="c-calendar__item">3</span
      ><span class="c-calendar__item">4</span
      ><span class="c-calendar__item">5</span
      ><span class="c-calendar__item">6</span
      ><span class="c-calendar__item">7</span
      ><span class="c-calendar__item">8</span
      ><span class="c-calendar__item">9</span
      ><span class="c-calendar__item">10</span
      ><span class="c-calendar__item c-calendar__item-active">11</span
      ><span class="c-calendar__item c-calendar__item-between--active">12</span
      ><span class="c-calendar__item c-calendar__item-between--active">13</span
      ><span class="c-calendar__item c-calendar__item-between--active">14</span
      ><span class="c-calendar__item c-calendar__item-active">15</span
      ><span class="c-calendar__item">16</span
      ><span class="c-calendar__item">17</span
      ><span class="c-calendar__item">18</span
      ><span class="c-calendar__item">19</span
      ><span class="c-calendar__item">20</span
      ><span class="c-calendar__item">21</span
      ><span class="c-calendar__item">22</span
      ><span class="c-calendar__item">23</span
      ><span class="c-calendar__item">24</span
      ><span class="c-calendar__item">25</span
      ><span class="c-calendar__item">26</span
      ><span class="c-calendar__item">27</span
      ><span class="c-calendar__item">28</span>
      <span class="c-calendar__item">29</span>
      <span class="c-calendar__item">30</span>
      <span class="c-calendar__item">31</span>
      <span class="c-calendar__item"></span>
      <span class="c-calendar__item"></span>
      <span class="c-calendar__item"></span>
      <span class="c-calendar__item"></span>
    </div>
  </div>
</div>
