<section class="l-preview">
  <div class="l-preview__item">
    <a href="{{root}}histogram.html" class="c-card">
      <div class="c-card__body">{{> histogram}}</div>
      <div class="c-card__title">
        <p>Гистограмма</p>
      </div>
    </a>
  </div>
  <div class="l-preview__item">
    <a href="{{root}}calendar.html" class="c-card c-card__calendar">
      <div class="c-card__body">{{> calendar}}</div>
      <div class="c-card__title">
        <p>Календарь</p>
      </div>
    </a>
  </div>
  <div class="l-preview__item">
    <a href="{{root}}tooltip.html" class="c-card c-card__tooltip">
      <div class="c-card__body">{{> tooltip-visible}}</div>
      <div class="c-card__title">
        <p>Подсказка</p>
      </div>
    </a>
  </div>
  <div class="l-preview__item">
    <a href="{{root}}avatar.html" class="c-card c-card__avatar">
      <div class="c-card__body">{{> avatar}}</div>
      <div class="c-card__title">
        <p>Аватар</p>
      </div>
    </a>
  </div>
  <div class="l-preview__item">
    <a href="{{root}}histogram.html" class="c-card">
      <div class="c-card__body">{{> histogram}}</div>
      <div class="c-card__title">
        <p>Гистограмма</p>
      </div>
    </a>
  </div>
  <div class="l-preview__item">
    <a href="{{root}}histogram.html" class="c-card">
      <div class="c-card__body">{{> histogram}}</div>
      <div class="c-card__title">
        <p>Гистограмма</p>
      </div>
    </a>
  </div>
  <div class="l-preview__item">
    <a href="{{root}}histogram.html" class="c-card">
      <div class="c-card__body">{{> histogram}}</div>
      <div class="c-card__title">
        <p>Гистограмма</p>
      </div>
    </a>
  </div>
</section>
