.l-main-nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-color: var(--clr-main-back-light);
  transition: transform 250ms ease-in-out;

  &[data-open] {
    transform: translateX(0);
  }

  &__top {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  &__logo {
    margin: 0 auto;
  }
}