@use "../../abstracts/" as *;

.l-components-nav {
  &__item {
    list-style: none;

    &--mobile {
      margin-bottom: torem(16);
    }

    &:nth-last-child(2) {
      margin-bottom: torem(30);
    }

    &--mobile:nth-last-child(2) {
      margin-bottom: torem(72);
    }
  }

  &__title--mobile {
    font-size: torem(20);
    line-height: lh(26, 20);
    font-weight: 400;
    color: var(--clr-gray-3);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  &__link {
    font-size: torem(16);
    line-height: lh(24, 16);
    font-weight: 400;
    white-space: nowrap;

    color: var(--clr-black);
    text-decoration: none;

    &--active {
      color: #D84910;
    }
  }

}