html[data-mode="dark"] {
  --clr-font: var(--clr-white);
  --clr-main-back: var(--clr-gray-4);
  --clr-main-back-light: var(--clr-black);
  // card
  --clr-card-shadow: rgba(255, 255, 255, 0.265);
  --clr-card-back: var(--clr-black);
  // inputs
  --clr-input-back: var(--clr-black);
  // calendar
  --clr-calendar-title: var(--clr-font);
  --clr-calendar-day: var(--clr-font);
  --clr-calendar-day-item: var(--clr-gray-3);
  // button
  --clr-btn-text-dark: var(--clr-font);
  // footer
  --clr-footer-back: var(--clr-black);
  // modal
  --clr-modal-window-back: var(--clr-black);
  --clr-modal-window-border: var(--clr-gray-3);
}