html[data-mode="dark"] {
  --clr-font: var(--clr-white);
  --clr-main-back: var(--clr-gray-4);
  --clr-main-back-light: var(--clr-black);
  
  // components
  // card
  --clr-sym-card-shadow: rgba(255, 255, 255, 0.265);
  --clr-sym-card-back: var(--clr-black);
  // inputs
  --clr-sym-input-back: var(--clr-black);
  // calendar
  --clr-sym-calendar-title: var(--clr-font);
  --clr-sym-calendar-day: var(--clr-font);
  --clr-sym-calendar-day-item: var(--clr-gray-3);
  // button
  --clr-sym-btn-text-dark: var(--clr-font);
  // footer
  --clr-sym-footer-back: var(--clr-black);
  // modal
  --clr-modal-window-back: var(--clr-black);
  --clr-modal-window-border: var(--clr-gray-3);
  // skeleton
  --clr-skeleton-string: var(--clr-gray-4);
  --clr-skeleton-runner-back: 128, 128, 128;
  // accordeon
  --clr-summary-arrow: var(--clr-white);
  // checkbox
  --clr-checkbox-animation: 255, 255, 255;
  // input text
  --clr-input-back-disabled: var(--clr-gray-4);
}