@use "../../abstracts/" as *;

.l-page {
  background-color: var(--clr-main-back);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-columns: 100%;

  &__single {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100%;
    
    gap: torem(56);

    @include mediaDown("lg") {
      display: block;
    }
  }

  &__component-wrapper {
    background-color: var(--clr-white);
    // fix content jumping
    // https://stackoverflow.com/questions/70961650/content-overflowing-from-css-grid
    min-height: 0;
    min-width: 0;
  }

  &__component-wrapper>.c-calendar {
    min-width: 300px;

    @include mediaDown("sm") {
      min-width: auto;
    }
  }

  &__component-title {
    margin: 0;
    font-weight: 400;
    font-size: torem(28);
    line-height: lh(38, 28);
  }

  &__component-title-wrapper {
    padding: torem(32) torem(38) torem(58) torem(38);

    @include mediaDown("sm") {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__component-show {
    padding: 0 torem(48) torem(32) torem(48);
  }

  &__component-show:has(> .c-calendar),
  &__component-show:has(> .c-tooltip),
  &__component-show:has(> .c-avatar) {
    display: flex;
    justify-content: center;
  }

  @include mediaDown("md") {
    --layout-padding: 1rem;

    &__single.l-container {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
}