@use "../../abstracts/" as *;

.l-page {
  background-color: var(--clr-main-back);
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.l-page {
  &__single {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: torem(56);

    @include mediaDown("md") {
      display: block;
    }
  }

  &__component-wrapper {
    background-color: var(--clr-white);
  }

  &__component-wrapper>.c-calendar {
    min-width: 300px;

    @include mediaDown("sm") {
      min-width: auto;
    }
  }

  &__component-title {
    padding: torem(32) torem(38) torem(58) torem(38);

    @include mediaDown("sm") {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__component-show {
    padding: torem(32) torem(48);
  }

  &__component-show:has(> .c-calendar),
  &__component-show:has(> .c-tooltip),
  &__component-show:has(> .c-avatar) {
    display: flex;
    justify-content: center;
  }

  @include mediaDown("md") {
    --layout-padding: 1rem;

    &__single.l-container {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
}