@use "../../abstracts" as *;

.l-header {
  --clr-header-back: var(--clr-main-back-light);

  background-color: var(--clr-header-back);
  padding: 2rem 0 0 0;

  @include mediaDown("sm") {
    min-height: initial;
    padding: 1rem 0 0 0;
    margin-bottom: 0;
  }

  &__top {
    margin-bottom: torem(38);
    display: flex;
    justify-content: space-between;

    .l-header__slot-mode-switch {
      @include mediaDown('sm') {
        display: none;
      }
    }

    @include mediaDown("md") {
      margin-bottom: 1rem;
    }

    @include mediaDown("lg") {
      display: flex;
      justify-content: space-between;
    }
  }


  &__logo {
    @include mediaDown('sm') {
      margin: 0 auto;
    }
  }

  &__heading {
    margin-top: 0;

    @include mediaDown("sm") {
      font-weight: 400;
      font-size: torem(28);
      line-height: lh(38, 28);
    }
    @include mediaDown("md") {
      margin-bottom: torem(32);
    }
  }

  @include mediaDown("md") {
    .l-header~.c-tabs {
      margin-top: torem(-30);
    }
  }

  &--transparent-back {
    background-color: transparent;
  }
}