@use "../../abstracts/" as *;

.c-toggler {
  margin-bottom: torem(30);
  background-color: var(--clr-white);

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    outline: none;
    left: -100vw;

    &[id="#toggle-html"]:checked~.c-toggler__scroller .c-toggler__item[for="#toggle-html"]::after,
    &[id="#toggle-css"]:checked~.c-toggler__scroller .c-toggler__item[for="#toggle-css"]::after {
      transform: scaleX(1);
    }

    &[id="#toggle-html"]:checked~.c-toggler__scroller .c-toggler__item[for="#toggle-all"],
    &[id="#toggle-css"]:checked~.c-toggler__scroller .c-toggler__item[for="#toggle-atoms"] {
      color: var(--clr-black);
    }

    &[id="#toggle-html"]:checked~.c-toggler__html,
    &[id="#toggle-css"]:checked~.c-toggler__css {
      display: block;
    }
  }

  &__scroller {
    display: flex;
    gap: torem(24);
    border-bottom: 1px solid var(--clr-gray-2);
    padding: 0 torem(38);

    @include mediaDown("sm") {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__item {
    display: block;
    height: torem(24);
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
    white-space: nowrap;
    cursor: pointer;

    font-size: torem(16);
    line-height: lh(24, 16);
    color: var(--clr-gray-3);
    transition: color 250ms ease-in-out;

    &::after {
      content: "";
      margin-top: torem(7);
      display: block;
      height: torem(6);
      transform: scaleX(0);
      background-color: var(--clr-black);
      transition: all 250ms ease-in-out;
    }
  }

  &__html, &__css {
    padding: torem(32) torem(38);
    display: none;
    overflow: auto;

    @include mediaDown("sm") {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    pre {
      margin: 0;
      padding: 0;
    }
  }

}