<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{root}}css/main.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="l-page">
      {{> header}}
      <main class="main">
        <div class="l-container l-page__single">
          {{>sidebar}}
<div class="l-page__component-wrapper">
{{>body}}
</div>
        </div>
      </main>
      {{> footer}}
    </div>
    {{>main-nav-mobile}}
    <script src="{{root}}js/index.bundle.js"></script>
    <script src="{{root}}js/rainbow-custom.min.js"></script>
  </body>
</html>
