<header class="l-header{{#ifequal layout "page"}} l-header--transparent-back{{/ifequal}}">
  <div class="l-container">
    <div class="l-header__top">
      {{>hamburger}}
      <div class="l-header__logo">
        <a href="/">
          <svg class="icon icon--logo" fill="currentColor">
            <use xlink:href="{{root}}img/svg/sprite.svg#logo"></use>
          </svg>
        </a>
      </div>
      <div class="l-header__slot-mode-switch">
        {{>mode-switch}}
      </div>
    </div>
    {{#ifpage 'index'}}
      <div class="l-header__center">
        <h1 class="l-header__heading">Переиспользуемая библиотека компонентов</h1>
      </div>
    {{/ifpage}}
  </div>
</header>
