<div id="main-nav-mobile" class="l-main-nav-mobile" style="display: none">
  <div class="l-container">
    <div class="l-main-nav-mobile__top">
      <button
        id="main-nav-mobile-close"
        class="c-btn c-btn__with-icon c-btn__round c-btn--gray c-btn__size-32"
      >
        <svg class="icon--close-cross">
          <use xlink:href="{{root}}img/svg/sprite.svg#close-cross" />
        </svg>
      </button>
      <div class="l-main-nav-mobile__logo">
        <a href="/"><img src="{{root}}img/svg/logo.svg" alt="Лого" /></a>
      </div>
    </div>
    <div class="c-mode-switch">

    </div>
    <nav class="l-components-nav">
      <h4 class="l-components-nav__title--mobile">Компоненты</h4>
      <ul>
        {{#each nav}}
        <li class="l-components-nav__item l-components-nav__item--mobile">
          <a
            class="l-components-nav__link{{#ifpage id}} l-components-nav__link--active{{/ifpage}}"
            href="{{root}}{{id}}.html"
            >{{title}}</a
          >
        </li>
        {{/each}}
      </ul>
    </nav>
  </div>
</div>
