<label class="c-switch c-mode-switch" for="mode-switch-mobile">
  <input
    class="c-switch__input"
    type="checkbox"
    id="mode-switch-mobile"
  />
  <svg class="icon icon--sun c-mode-switch__icon-light" fill="currentColor">
    <use xlink:href="{{root}}img/svg/sprite.svg#sun"></use>
  </svg>
  <div class="c-switch__state">
    <div class="c-switch__control"></div>
  </div>
  <svg class="icon icon--moon c-mode-switch__icon-dark" fill="currentColor">
    <use xlink:href="{{root}}img/svg/sprite.svg#moon"></use>
  </svg>
</label> 