<div class="c-tabs">
  <input name="tabs" class="c-tabs__input" type="radio" id="#tab-all" checked />
  <input name="tabs" class="c-tabs__input" type="radio" id="#tab-atoms" />
  <input name="tabs" class="c-tabs__input" type="radio" id="#tab-molecules" />
  <input name="tabs" class="c-tabs__input" type="radio" id="#tab-organisms" />

  <div class="c-tabs__scroller l-container">
    <label class="c-tabs__item" for="#tab-all">Все компоненты</label>
    <label class="c-tabs__item" for="#tab-atoms">Атомы</label>
    <label class="c-tabs__item" for="#tab-molecules">Молекулы</label>
    <label class="c-tabs__item" for="#tab-organisms">Организмы</label>
  </div>

  <div class="c-tabs__content tabs__content--complex"></div>
</div>
