@use "../../abstracts/" as *;

.c-mode-switch {

  display: flex;
  align-items: center;

  &__icon-light {
    color: var(--clr-font);
  }

  &__icon-dark {
    color: var(--clr-gray-3);
  }

  .c-switch__input:checked~&__icon-light {
    color: var(--clr-gray-3);
  }

  .c-switch__input:checked~&__icon-dark {
    color: var(--clr-font);
  }

  .c-switch__state {
    margin-left: 0;
    margin-right: 0;
  }

  .c-switch__control {
    margin: 0 torem(12);
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    padding: torem(25) 0;
    border-top: 1px solid var(--clr-gray-2);
    border-bottom: 1px solid var(--clr-gray-2);
    margin-bottom: torem(24);
  }
}