@use "../../abstracts/" as *;

.c-tabs {
  --clr-tabs-border-bottom: var(--clr-gray-2);
  --clr-tabs-active: var(--clr-black);
  --clr-tabs-inactive: var(--clr-gray-3);
  --clr-tabs-under: var(--clr-black);
  
  overflow: auto;
  margin-bottom: torem(30);
  scrollbar-width: none;
  background-color: var(--clr-main-back-light);
  border-bottom: 1px solid var(--clr-tabs-border-bottom);

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    outline: none;
    left: -100vw;

    &[id="#tab-all"]:checked~.c-tabs__scroller .c-tabs__item[for="#tab-all"]::after,
    &[id="#tab-atoms"]:checked~.c-tabs__scroller .c-tabs__item[for="#tab-atoms"]::after,
    &[id="#tab-molecules"]:checked~.c-tabs__scroller .c-tabs__item[for="#tab-molecules"]::after,
    &[id="#tab-organisms"]:checked~.c-tabs__scroller .c-tabs__item[for="#tab-organisms"]::after {
      transform: scaleX(1);
    }

    &[id="#tab-all"]:checked~.c-tabs__scroller .c-tabs__item[for="#tab-all"],
    &[id="#tab-atoms"]:checked~.c-tabs__scroller .c-tabs__item[for="#tab-atoms"],
    &[id="#tab-molecules"]:checked~.c-tabs__scroller .c-tabs__item[for="#tab-molecules"],
    &[id="#tab-organisms"]:checked~.c-tabs__scroller .c-tabs__item[for="#tab-organisms"] {
      color: var(--clr-font);
    }
  }

  &__scroller {
    display: flex;
    gap: torem(24);
    
    @include mediaDown("md") {
      display: inline-flex;
    }
  }

  &__item {
    display: block;
    height: torem(24);
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
    white-space: nowrap;
    cursor: pointer;

    font-size: torem(16);
    line-height: lh(24, 16);
    color: var(--clr-tabs-inactive);
    transition: color 250ms ease-in-out;

    &::after {
      content: "";
      margin-top: torem(7);
      display: block;
      height: torem(6);
      transform: scaleX(0);
      background-color: var(--clr-font);
      transition: all 250ms ease-in-out;
    }
  }

}