<label class="c-checkbox" for="checkbox-1">
  <input id="checkbox-1" class="c-checkbox__input" type="checkbox" />
  <div class="c-checkbox__state">
    <div class="c-checkbox__control">
      <svg class="c-checkbox__icon icon icon--input-check" stroke="currentColor">
        <use xlink:href="{{root}}img/svg/sprite.svg#input-check" />
      </svg>
    </div>
    <div class="c-checkbox__title">Заголовок 1</div>
  </div>
</label>

<label class="c-checkbox" for="checkbox-2">
  <input id="checkbox-2" class="c-checkbox__input" type="checkbox" checked />
  <div class="c-checkbox__state">
    <div class="c-checkbox__control">
      <svg class="c-checkbox__icon icon icon--input-check" stroke="currentColor">
        <use xlink:href="{{root}}img/svg/sprite.svg#input-check" />
      </svg>
    </div>
    <div class="c-checkbox__title">Заголовок 2</div>
  </div>
</label>

<label class="c-checkbox" for="checkbox-3">
  <input id="checkbox-3" class="c-checkbox__input" type="checkbox" disabled />
  <div class="c-checkbox__state">
    <div class="c-checkbox__control">
      <svg class="c-checkbox__icon icon icon--input-check" stroke="currentColor">
        <use xlink:href="{{root}}img/svg/sprite.svg#input-check" />
      </svg>
    </div>
    <div class="c-checkbox__title">Заголовок 3</div>
  </div>
</label>