<div class="c-histogram">
  <div class="c-histogram__top">
    <div class="c-histogram__orders">
      <h4 class="c-histogram__title">Всего заказов</h4>
      <span class="c-histogram__orders">50254</span>
    </div>
    <div class="c-histogram__view">
      <button class="c-histogram__all-href">Все</>
    </div>
  </div>
  <div class="c-histogram__bottom">
    <div class="c-histogram__chart">
      <div class="c-histogram__bar" style="height: 98%;"></div>
      <div class="c-histogram__bar" style="height: 78%;"></div>
      <div class="c-histogram__bar" style="height: 48%;"></div>
      <div class="c-histogram__bar" style="height: 38%;"></div>
      <div class="c-histogram__bar" style="height: 78%;"></div>
      <div class="c-histogram__bar" style="height: 18%;"></div>
      <div class="c-histogram__bar" style="height: 78%;"></div>
      <div class="c-histogram__bar" style="height: 38%;"></div>
      <div class="c-histogram__bar" style="height: 68%;"></div>
      <div class="c-histogram__bar" style="height: 78%;"></div>
      <div class="c-histogram__bar" style="height: 33%;"></div>
      <div class="c-histogram__bar" style="height: 46%;"></div>
      <div class="c-histogram__bar" style="height: 67%;"></div>
      <div class="c-histogram__bar" style="height: 46%;"></div>
      <div class="c-histogram__bar" style="height: 56%;"></div>
      <div class="c-histogram__bar" style="height: 18%;"></div>
      <div class="c-histogram__bar" style="height: 28%;"></div>
      <div class="c-histogram__bar" style="height: 38%;"></div>
      <div class="c-histogram__bar" style="height: 48%;"></div>
      <div class="c-histogram__bar" style="height: 44%;"></div>
      <div class="c-histogram__bar" style="height: 55%;"></div>
      <div class="c-histogram__bar" style="height: 44%;"></div>
      <div class="c-histogram__bar" style="height: 33%;"></div>
      <div class="c-histogram__bar" style="height: 22%;"></div>
      <div class="c-histogram__bar" style="height: 11%;"></div>
      <div class="c-histogram__bar" style="height: 14%;"></div>
      <div class="c-histogram__bar" style="height: 26%;"></div>
      <div class="c-histogram__bar" style="height: 45%;"></div>
      <div class="c-histogram__bar" style="height: 67%;"></div>
      <div class="c-histogram__bar" style="height: 78%;"></div>
      <div class="c-histogram__bar" style="height: 88%;"></div>
      <div class="c-histogram__bar" style="height: 98%;"></div>
    </div>
  </div>
</div>
