<div class="c-input-field">
  <div class="c-input">
    <label class="c-input__label" for="text-1">
      <div class="c-input__title">Отключено</div>
      <div class="c-input__input-wrapper">
        <input
          class="c-input__input"
          id="text-1"
          type="text"
          placeholder="Ввод недоступен"
          disabled
        />
      </div>
    </label>
  </div>
</div>

<div class="c-input-field">
  <div class="c-input">
    <label class="c-input__label" for="text-2">
      <div class="c-input__title">Ярлык</div>
      <div class="c-input__input-wrapper">
        <input
          class="c-input__input"
          id="text-2"
          type="text"
          placeholder="Текст"
          value="Заполненное поле"
        />
      </div>
    </label>
  </div>
</div>

<div class="c-input-field">
  <div class="c-input">
    <label class="c-input__label" for="text-3">
      <div class="c-input__title">Фокус</div>
      <div class="c-input__input-wrapper">
        <input
          class="c-input__input"
          id="text-3"
          type="text"
          placeholder="Текст"
        />
      </div>
    </label>
  </div>
</div>

<div class="c-input-field">
  <div class="c-input">
    <label class="c-input__label" for="text-4">
      <div class="c-input__title">Подтверждение</div>
      <div class="c-input__input-wrapper">
        <input
          class="c-input__input c-input__valid"
          id="text-4"
          type="text"
          placeholder="Текст"
          value="Подтверждение"
        />
        <svg class="icon icon--check-circle c-input__icon c-input__icon--valid" stroke="currentColor">
          <use xlink:href="{{root}}img/svg/sprite.svg#check-circle"></use>
        </svg>
      </div>
    </label>
  </div>
</div>

<div class="c-input-field">
  <div class="c-input">
    <label class="c-input__label" for="text-5">
      <div class="c-input__title">Подтверждение</div>
      <div class="c-input__input-wrapper">
        <input
          class="c-input__input c-input__invalid"
          id="text-5"
          type="text"
          placeholder="Текст"
          value="Ошибка"
        />
        <svg class="icon icon--check-circle c-input__icon c-input__icon--invalid" stroke="currentColor">
          <use xlink:href="{{root}}img/svg/sprite.svg#alert-triangle"></use>
        </svg>
      </div>
    </label>
  </div>
</div>