<button id="modal-open" class="c-btn c-btn--primary">
  Открыть модальное окно
</button>
<div id="modal" class="c-modal">
  <div class="c-modal__back"></div>
  <div class="c-modal__window">
    <div id="modal-close" class="c-modal__close">
      <svg class="icon--close-cross">
        <use xlink:href="{{root}}img/svg/sprite.svg#close-cross"></use>
      </svg>
    </div>
    <div class="c-modal__body">
      Далеко-далеко за словесными горами в стране гласных и согласных живут
      рыбные тексты. Своих однажды безорфографичный эта текстов он, скатился
      путь пустился обеспечивает.
    </div>
  </div>
</div>
