<div class="l-skeletons h-mb30">
  <div class="c-skeleton">
    <div class="c-skeleton__row c-skeleton__row--with-avatar">
      <div class="c-skeleton__avatar"></div>
      <div class="c-skeleton__paragraph">
        <div class="c-skeleton__string c-skeleton__string--50"></div>
        <div class="c-skeleton__string c-skeleton__string--70"></div>
      </div>
    </div>
    <div class="c-skeleton__row">
      <div class="c-skeleton__paragraph">
        <div class="c-skeleton__string c-skeleton__string--100"></div>
        <div class="c-skeleton__string c-skeleton__string--100"></div>
      </div>
    </div>
  </div>
</div>