<label class="c-switch" for="switch-off">
  <input
    class="c-switch__input"
    type="checkbox"
    name="switch-off"
    id="switch-off"
  />
  <div class="c-switch__state">
    <div class="c-switch__control"></div>
    <div class="c-switch__title">Выключатель</div>
  </div>
</label>

<label class="c-switch" for="switch-on">
  <input
    class="c-switch__input"
    type="checkbox"
    name="switch-on"
    id="switch-on"
    checked
  />
  <div class="c-switch__state">
    <div class="c-switch__control"></div>
    <div class="c-switch__title">Выключатель</div>
  </div>
</label>

<label class="c-switch" for="switch-disabled">
  <input
    class="c-switch__input"
    type="checkbox"
    name="switch-disabled"
    id="switch-disabled"
    disabled
  />
  <div class="c-switch__state">
    <div class="c-switch__control"></div>
    <div class="c-switch__title">Выключатель</div>
  </div>
</label>
